*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  padding: 0 4rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 2rem;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #FFF;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 5.75rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: .75rem;
    animation: moveInRight 1s ease-out; }

h1 {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #E7D692, #B29B3F);
  -webkit-background-clip: text;
  color: transparent; }

.title {
  font-size: 2rem;
  font-weight: 600; }

.content {
  font-size: 1.5rem; }

select {
  font-size: inherit; }

.u-center {
  text-align: center; }

.u-tall {
  height: 100%; }

.u-margin-right {
  margin-right: 1rem; }

.u-hidden {
  visibility: hidden; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn--header {
  border-radius: 10rem; }
  .btn--header:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn--header:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn--header:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--tryit {
  border-radius: 2px; }

.btn--white {
  background-color: #FFF;
  color: #777; }
  .btn--white::after {
    background-color: #FFF; }

.btn--blue {
  background-color: #667999;
  color: #FFF; }
  .btn--blue::after {
    background-color: #667999; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn--hover:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

select {
  border: 1px solid #777;
  width: inherit;
  padding: 0 1rem;
  margin: 0 .5rem;
  -webkit-appearance: none; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 2rem;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #F7F7F7;
  border: 1px solid #ccc;
  border-radius: 4px; }

.try {
  display: grid;
  padding: 4rem 20vw 0;
  grid-template-columns: 9fr 1fr;
  grid-column-gap: 1rem;
  grid-template-areas: 'url btn' 'img img' 'json json'; }
  .try__url {
    grid-area: url;
    max-height: 5.7rem; }
  .try__btn {
    grid-area: btn;
    max-height: 5.7rem; }
  .try__img {
    grid-area: img; }
  .try__json {
    grid-area: json; }

.header {
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(255, 247, 215, 0.8), rgba(178, 155, 63, 0.8)), url("../assets/samoyed-1356931-1920x1280.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.about {
  margin-top: -20vh;
  background-color: #F7F7F7;
  padding: 25rem 20vw; }

h1 {
  padding-bottom: 3rem; }

.title {
  padding-top: 2rem; }

.try {
  margin-top: -20vh;
  min-height: 120vh;
  padding-top: 25rem;
  clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
  position: relative;
  background: linear-gradient(to right bottom, rgba(255, 247, 215, 0.8), rgba(178, 155, 63, 0.8)), url("../assets/field.jpg") no-repeat center center;
  background-size: cover; }
  .try__url {
    background-color: #F7F7F7;
    text-align: left;
    border-radius: 2px; }
  .try__img {
    margin: 0 auto; }
    .try__img img {
      max-width: 100%; }
