*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 2rem;
  color: #777; }
  @media (max-width: 899px) {
    body {
      font-size: 1.5rem; } }
  @media (max-width: 599px) {
    body {
      font-size: 1rem; } }

.heading-primary {
  color: #FFF;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 5.75rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media (max-width: 1199px) {
      .heading-primary--main {
        font-size: 4.5rem; } }
    @media (max-width: 599px) {
      .heading-primary--main {
        font-size: 2.25rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: .75rem;
    animation: moveInRight 1s ease-out; }
    @media (max-width: 1199px) {
      .heading-primary--sub {
        font-size: 1.5rem;
        letter-spacing: .5rem; } }
    @media (max-width: 599px) {
      .heading-primary--sub {
        font-size: .75rem;
        letter-spacing: .125rem; } }

.about__title {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #E7D692, #B29B3F);
  -webkit-background-clip: text;
  color: transparent; }
  @media (max-width: 1199px) {
    .about__title {
      font-size: 3rem; } }
  @media (max-width: 599px) {
    .about__title {
      font-size: 2rem; } }

.title {
  font-size: 2rem;
  font-weight: 600; }
  @media (max-width: 599px) {
    .title {
      font-size: 1.5rem; } }

.content {
  font-size: 1.5rem !important; }
  @media (max-width: 599px) {
    .content {
      font-size: 1.25rem !important; } }

.try__title {
  background-image: initial;
  color: #FFF; }

.payload {
  font-family: monospace;
  line-height: 1.4;
  font-size: 2rem; }
  @media (max-width: 599px) {
    .payload {
      font-size: 1.5rem; } }

.footer__about {
  font-size: 1.5rem;
  color: #C7C7C7; }

.u-center {
  text-align: center; }

.u-tall {
  height: 100%; }

.u-margin-right {
  margin-right: 1rem; }

.u-hidden {
  visibility: hidden; }

.u-remove {
  display: none !important; }

.u-copy {
  cursor: copy; }

.u-shrink {
  width: 0; }

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0); } }

.bouncing-loader {
  margin-top: 4rem;
  display: flex;
  justify-content: center; }
  .bouncing-loader > div {
    width: 2rem;
    height: 2rem;
    margin: 3rem 0.2rem;
    background: #667999;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate; }
    .bouncing-loader > div:nth-child(2) {
      animation-delay: 0.2s; }
    .bouncing-loader > div:nth-child(3) {
      animation-delay: 0.4s; }

.btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }
  @media (max-width: 899px) {
    .btn:link, .btn:visited {
      font-size: 1.5rem; } }
  @media (max-width: 599px) {
    .btn:link, .btn:visited {
      font-size: 1rem; } }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--header {
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 10rem; }
  @media (max-width: 1199px) {
    .btn--header {
      padding: .75rem 2rem;
      margin: 0 .5rem; } }
  @media (max-width: 599px) {
    .btn--header {
      padding: .5rem 1.25rem;
      margin: 0 .25rem; } }
  .btn--header:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn--header:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn--header:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--tryit {
  height: 100%;
  padding: .5rem 1rem;
  border-radius: 5px; }
  @media (max-width: 599px) {
    .btn--tryit {
      padding: .25rem .33rem; } }

.btn--white {
  background-color: #FFF;
  color: #777; }
  .btn--white::after {
    background-color: #FFF; }

.btn--blue {
  background-color: #667999;
  color: #FFF;
  border: 1px solid #667999; }
  .btn--blue::after {
    background-color: #667999; }

.btn--clear {
  background-color: transparent;
  color: #000;
  border: 1px solid #000; }
  .btn--clear::after {
    background-color: transparent; }
  .btn--clear:hover {
    background-color: #667999;
    color: #FFF;
    border: 1px solid #667999; }

.btn--disabled {
  color: gray;
  border: 1px solid gray;
  pointer-events: none; }

.modal {
  position: fixed;
  opacity: 0;
  z-index: 1;
  left: 50%;
  top: 110%;
  background-color: #667999;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 1rem 2rem;
  transform: translate(-50%, -50%); }
  @media (max-width: 1199px) {
    .modal {
      border-radius: 10px; } }
  .modal--animate {
    animation: upFade 5s; }

@keyframes upFade {
  0% {
    top: 110%;
    opacity: 1; }
  20% {
    top: 97%; }
  80% {
    opacity: 1; }
  99% {
    top: 97%;
    opacity: 0; }
  100% {
    top: 110%; } }

select {
  border: 0;
  border-bottom: 1px solid #777;
  font-size: inherit;
  background-color: transparent;
  padding: 0 1rem;
  -webkit-appearance: none;
  height: 50%; }

.payload {
  display: block;
  white-space: pre;
  padding: .75rem;
  color: #333;
  background-color: rgba(247, 247, 247, 0.95);
  border-radius: 5px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0 auto;
  width: 78rem; }
  @media (max-width: 899px) {
    .payload {
      width: 64rem; } }
  @media (max-width: 749px) {
    .payload {
      width: 50rem; } }
  @media (max-width: 599px) {
    .payload {
      width: 30rem; } }
  @media (max-width: 1199px) {
    .payload ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px; }
    .payload ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); } }

.try__req__upload {
  position: relative;
  overflow: hidden;
  display: inline-block; }
  .try__req__upload__btn {
    font-size: 1.6rem;
    float: left;
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
    padding: 1rem 2rem;
    border-radius: 4px; }
    @media (max-width: 749px) {
      .try__req__upload__btn {
        font-size: 1.5rem;
        padding: 1rem 1rem; } }
    @media (max-width: 599px) {
      .try__req__upload__btn {
        padding: .45rem .33rem;
        width: initial;
        font-size: 1rem; } }
  .try__req__upload input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    margin: 0;
    padding: 0; }

.try__req {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0 auto;
  width: 78rem; }
  @media (max-width: 899px) {
    .try__req {
      width: 64rem; } }
  @media (max-width: 749px) {
    .try__req {
      width: 50rem; } }
  @media (max-width: 599px) {
    .try__req {
      width: 30rem; } }
  .try__req__method {
    max-width: 10rem;
    margin-right: 2rem; }
    @media (max-width: 599px) {
      .try__req__method {
        margin-right: .5rem; } }
  .try__req__upload {
    margin-left: auto; }
  .try__req__go {
    max-width: 10rem;
    margin-left: 4rem; }
    @media (max-width: 599px) {
      .try__req__go {
        margin-left: .25rem; } }

.footer {
  padding: 10vh 0;
  background-color: #2D2D2D;
  color: white; }
  .footer a {
    text-decoration: none;
    color: white; }
  .footer__about {
    text-align: center;
    padding: 0 24vw; }

.header {
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(255, 247, 215, 0.8), rgba(178, 155, 63, 0.8)), url("../assets/samoyed-1356931-1920x1280.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    width: 95%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  @media (max-width: 1199px) {
    .header {
      clip-path: initial; } }

.about {
  margin-top: -20vh;
  background-color: #F7F7F7;
  padding: 25rem 20vw 40vh; }
  @media (max-width: 1199px) {
    .about {
      margin-top: initial;
      padding: 8rem 4vw 16rem; } }

h1 {
  padding-bottom: 3rem; }

.title {
  padding-top: 2rem; }

.try {
  padding: 25rem 0;
  text-align: center;
  margin-top: -20vh;
  min-height: 120vh;
  clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
  position: relative;
  background: linear-gradient(to right bottom, rgba(255, 247, 215, 0.8), rgba(178, 155, 63, 0.8)), url("../assets/field.jpg") no-repeat center center;
  background-size: cover; }
  .try__img {
    margin: 0 auto;
    width: 78rem;
    min-height: 40rem; }
    @media (max-width: 899px) {
      .try__img {
        width: 64rem; } }
    @media (max-width: 749px) {
      .try__img {
        width: 50rem; } }
    @media (max-width: 599px) {
      .try__img {
        width: 30rem; } }
    .try__img img {
      max-height: 33rem; }
    @media (max-width: 899px) {
      .try__img {
        min-height: 30rem; }
        .try__img img {
          max-height: 24rem; } }
    @media (max-width: 749px) {
      .try__img {
        min-height: 20rem; }
        .try__img img {
          max-height: 20rem; } }
    @media (max-width: 599px) {
      .try__img {
        min-height: 15rem; }
        .try__img img {
          max-height: 15rem; } }
    .try__img img {
      max-width: 100%; }
  .try__json {
    padding-top: 5rem;
    text-align: left; }
  @media (max-width: 1199px) {
    .try {
      clip-path: initial;
      margin-top: initial;
      padding-top: 4rem; } }
