*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  padding: 0 4rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 2rem;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #FFF;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 5.75rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: .75rem;
    animation: moveInRight 1s ease-out; }

h1 {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #E7D692, #B29B3F);
  -webkit-background-clip: text;
  color: transparent; }

.title {
  font-size: 2rem;
  font-weight: 600; }

.content {
  font-size: 1.5rem; }

select {
  font-size: inherit; }

.try__req__url__upload__btn {
  font-size: 1.5rem; }

.u-center {
  text-align: center; }

.u-tall {
  height: 100%; }

.u-margin-right {
  margin-right: 1rem; }

.u-hidden {
  visibility: hidden; }

.u-remove {
  display: none; }

.btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--header {
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 10rem; }
  .btn--header:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn--header:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn--header:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--tryit {
  border-radius: 5px;
  padding: 1rem 2rem; }

.btn--white {
  background-color: #FFF;
  color: #777; }
  .btn--white::after {
    background-color: #FFF; }

.btn--blue {
  background-color: #667999;
  color: #FFF;
  border: 1px solid #667999; }
  .btn--blue::after {
    background-color: #667999; }

.btn--clear {
  background-color: transparent;
  color: #000;
  border: 1px solid #000; }
  .btn--clear::after {
    background-color: transparent; }
  .btn--clear:hover {
    background-color: #667999;
    color: #FFF;
    border: 1px solid #667999; }

select {
  border: 0;
  border-bottom: 1px solid #777;
  background-color: transparent;
  padding: 0 1rem;
  -webkit-appearance: none;
  height: 50%; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 2rem;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: rgba(247, 247, 247, 0.95);
  border-radius: 5px;
  overflow: scroll; }

.try__req__upload {
  position: relative;
  overflow: hidden;
  display: inline-block; }
  .try__req__upload__btn {
    border: 1px solid gray;
    color: gray;
    background-color: transparent;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 4px; }
  .try__req__upload input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    margin: 0;
    padding: 0; }

.try__req {
  display: grid;
  grid-template-columns: 1fr 2fr 6fr 0 1fr;
  grid-column-gap: 2rem;
  grid-template-areas: 'method domain url upload go'; }
  @media (max-width: 1199px) {
    .try__req {
      grid-template-areas: 'method domain domain upload go' 'method url url upload go'; } }
  .try__req__method {
    grid-area: method; }
  .try__req__domain {
    grid-area: domain; }
  .try__req__url {
    grid-area: url; }
  .try__req__upload {
    grid-area: upload; }
  .try__req__go {
    grid-area: go; }

.header {
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(255, 247, 215, 0.8), rgba(178, 155, 63, 0.8)), url("../assets/samoyed-1356931-1920x1280.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  @media (max-width: 1199px) {
    .header {
      clip-path: initial; } }

.about {
  margin-top: -20vh;
  background-color: #F7F7F7;
  padding: 25rem 20vw; }
  @media (max-width: 1199px) {
    .about {
      margin-top: initial;
      padding: 4rem 4vw 0; } }

h1 {
  padding-bottom: 3rem; }

.title {
  padding-top: 2rem; }

.try {
  padding: 25rem 20vw;
  text-align: center;
  margin-top: -20vh;
  min-height: 120vh;
  clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
  position: relative;
  background: linear-gradient(to right bottom, rgba(255, 247, 215, 0.8), rgba(178, 155, 63, 0.8)), url("../assets/field.jpg") no-repeat center center;
  background-size: cover; }
  .try__req__url {
    text-align: left;
    margin: auto 0; }
  .try__req__domain {
    text-align: left;
    margin: auto 0; }
  .try__req__upload {
    margin: 0; }
    .try__req__upload__btn {
      height: 100%; }
  .try__img {
    margin: auto;
    height: 40vh; }
    .try__img img {
      height: 100%;
      max-width: 100%; }
  .try__json {
    padding-top: 5rem;
    text-align: left; }
  @media (max-width: 1199px) {
    .try {
      clip-path: initial;
      margin-top: initial;
      padding-top: 4rem; } }
