.footer {
  padding: 10vh 0;
  background-color: $color-black-light;
  color: white;

  a {
    text-decoration: none;
    color: white;
  }

  &__about {
    text-align: center;
    padding: 0 24vw;
  }
}