.try__content {
    @include for-size(under-desktop) {
      max-width: 90vw;
    }


  &__req {
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;


    &__method {
      max-width: 10rem;
      margin-right: 2rem;
    }
    &__url {
    }
    &__upload {
      margin-left: auto;
    }
    &__go {
      max-width: 10rem;
      flex-shrink: 3;
      margin-left: 4rem;
    }
  }
}