@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}
.bouncing-loader {
  margin-top: 4rem;
  display: flex;
  justify-content: center;

  & > div {
    width: 2rem;
    height: 2rem;
    margin: 3rem 0.2rem;
    background: $color-tertiary;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}