.btn {
  &:link,
  &:visited {
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  &--header {
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: 10rem;

    &:hover {
      transform: translateY(-.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black,.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }

    }

    &:active {
      transform: translateY(-.1rem);
      box-shadow: 0 .5rem 1rem rgba($color-black,.2);

    }
  }


  &--tryit {
    height: 100%;
    padding: .5rem 1rem;
    border-radius: 5px;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }

  }

  &--blue {
    background-color: $color-secondary;
    color: $color-white;
    border: 1px solid $color-secondary;

    &::after {
      background-color: $color-secondary;
    }

  }

  &--clear {
    background-color: transparent;
    color: $color-black;
    border: 1px solid $color-black;

    &::after {
      background-color: transparent;
    }

    &:hover {
      background-color: $color-secondary;
      color: $color-white;
      border: 1px solid $color-secondary;
    }
  }

}