.modal {
  position: fixed;
  opacity: 0;
  z-index: 1;
  left: 50%;
  top: 110%;
  background-color: $color-grey-dark;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 1rem 2rem;
  transform: translate(-50%, -50%);

  &--animate {
    animation: upFade 5s;
  }
}

@keyframes upFade {
  0% {
    top: 110%;
    opacity: 1;
  }
  20% {
    top: 97%;
  }
  80% {
    opacity: 1;
  }
  99% {
    top: 97%;
    opacity: 0;
  }
  100% {
    top: 110%;
  }
}