pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 2rem;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $color-grey-light;
  border: 1px solid #ccc;
  border-radius: 4px;
}