.payload {
  display: block;
  white-space: pre;
  padding: .75rem;
  color: #333;
  background-color: transparentize($color-grey-light, 0.05);
  border-radius: 5px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  @include tryit-width;

  @include for-size(under-desktop) {
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }

  }

}
