select {
  border: 1px solid $color-grey-dark;
  width: inherit;
  padding: 0 1rem;
  margin: auto .5rem;
  min-width: 5rem;
  -webkit-appearance: none;
  background-color: $color-white;
  height: 50%;
}

