.try__req__upload {
  position: relative;
  overflow: hidden;
  display: inline-block;

  &__btn {
    font-size: 1.6rem;
    float: left;
    border: 1px solid $color-black;
    color: $color-black;
    background-color: transparent;
    padding: 1rem 2rem;
    border-radius: 4px;
    width: 14rem;

    @include for-size(under-tablet-p) {
      padding: .45rem .33rem;
      width: initial;
      font-size: 1rem;
    }


  }

  input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
  }
}
