@mixin for-size($size) {
  @if $size == big-desktop-only {
    @media (min-width: 1800px) { @content; }
  }
  @else if $size == under-tablet-p {
    @media (max-width: 599px) { @content; }
  }
  @else if $size == under-tablet-lg {
    @media (max-width: 749px) { @content}
  }
  @else if $size == under-tablet-ls {
    @media (max-width: 899px) { @content; }
  }
  @else if $size == under-desktop {
    @media (max-width: 1199px) { @content; }
  }
  @else if $size == under-med-desktop {
    @media (max-width: 1399px) { @content; }
  }
  @else if $size == under-big-desktop {
    @media (max-width: 1799px) { @content; }
  }
}


@mixin tryit-width {
  margin: 0 auto;
  width: 78rem;

  @include for-size(under-tablet-ls) {
    width: 64rem;
  }
  @include for-size(under-tablet-lg) {
    width: 50rem
  }
  @include for-size(under-tablet-p) {
    width: 30rem;
  }

}