// COLORS
$color-primary: #E7D692;
$color-primary-light: #FFF7D7;
$color-primary-dark: #B29B3F;

$color-secondary: #667999;
$color-secondary-light: #A6B0C1;
$color-secondary-dark: #314B76;

$color-tertiary: #84669B;
$color-tertiary-light: #B7A7C3;
$color-tertiary-dark: #582F78;

$color-grey-dark: #777;
$color-grey: #C7C7C7;
$color-grey-light: #F7F7F7;
$color-white: #FFF;
$color-black: #000;
$color-black-light: #2D2D2D