.about {
  margin-top: -20vh;
  background-color: $color-grey-light;
  padding: 25rem 20vw;

  @include for-size(under-desktop){
    margin-top: initial;
    padding: 4rem 4vw 0;
  }
}

h1 {
  padding-bottom: 3rem;
}

.title {
  padding-top: 2rem;
}

.try {
  padding: 25rem 20vw;
  text-align: center;
  margin-top: -20vh;
  min-height: 120vh;
  clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
  position: relative;
  background: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.8),
                  rgba($color-primary-dark, 0.8)),
  url("../assets/field.jpg") no-repeat center center;
  background-size: cover;

  &__req {

    &__url {
      text-align: left;
      margin: auto 0;
    }
  }

  &__img {
    margin: auto;

    img {
      max-width: 100%;
    }
  }

  &__json {
    padding: 0 25rem
  }

  @include for-size(under-desktop){
    clip-path: initial;
    margin-top: initial;
    padding-top: 4rem;
  }

}