.about {
  margin-top: -20vh;
  background-color: $color-grey-light;
  padding: 25rem 20vw 40vh;

  @include for-size(under-desktop){
    margin-top: initial;
    padding: 16rem 4vw;
  }
}

h1 {
  padding-bottom: 3rem;
}

.title {
  padding-top: 2rem;
}

.try {
  padding: 25rem 0;
  text-align: center;
  margin-top: -20vh;
  min-height: 120vh;
  clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
  position: relative;
  background: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.8),
                  rgba($color-primary-dark, 0.8)),
  url("../assets/field.jpg") no-repeat center center;
  background-size: cover;

  &__title {
  }

  &__img {
    margin: auto;
    height: 40vh;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &__json {
    padding-top: 5rem;
    text-align: left;
  }

  @include for-size(under-desktop){
    clip-path: initial;
    margin-top: initial;
    padding-top: 4rem;
  }

}