body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 2rem;
  color: $color-grey-dark;

  @include for-size(under-tablet-ls) {
    font-size: 1.5rem;
  }
  @include for-size(under-tablet-p) {
    font-size: 1rem;
  }
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 5.75rem;
    font-weight: 400;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include for-size(under-desktop) {
      font-size: 4.5rem;

    }
    @include for-size(under-tablet-p) {
      font-size: 2.25rem;
    }

  }

  &--sub {
    display: block;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: .75rem;
    animation: moveInRight 1s ease-out;

    @include for-size(under-desktop) {
      font-size: 1.5rem;
      letter-spacing: .5rem;
    }
    @include for-size(under-tablet-p) {
      font-size: .75rem;
      letter-spacing: .125rem;
    }
  }
}

.about__title {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;

  @include for-size(under-desktop) {
    font-size: 3rem;
  }
  @include for-size(under-tablet-p) {
    font-size: 2rem;
  }

}

.title {
  font-size: 2rem;
  font-weight: 600;

  @include for-size(under-tablet-p) {
    font-size: 1.5rem;
  }

}

.content {
  font-size: 1.5rem;

  @include for-size(under-tablet-p) {
    font-size: 1.25rem;
  }
}

.try {
  &__title {
    background-image: initial;
    color: $color-white;
  }
}

.payload {
  font-family: monospace;
  line-height: 1.4;
  font-size: 2rem;

  @include for-size(under-tablet-p) {
    font-size: 1.5rem;
  }

}

.footer {
  &__about {
    font-size: 1.5rem;
    color: $color-grey;
  }
}

