.u-center {
  text-align: center;
}

.u-tall {
  height: 100%;
}

.u-margin-right {
  margin-right: 1rem;
}

.u-hidden {
  visibility: hidden;
}

.u-remove {
  display: none;
}

.u-copy {
  cursor: copy;
}

.u-shrink {
  width: 0;

}